
/* Container Principal */
.pagina-ferramentas {
    padding: 20px;
    animation: aparecer 0.5s ease-out;
}

/* Cabeçalho */
.pagina-ferramentas .titulo-estoque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.pagina-ferramentas h2 {
    margin: 0;
    color: #333;
}

/* Botões */
.btn-adicionar-estoque {
    background-color: var(--azul-secundario);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-adicionar-estoque:hover {
    background-color: rgb(31, 31, 255);
}

.btn-filtrar-estoque{
    background-color: var(--azul-secundario);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.btn-filtrar-estoque:hover {
    background-color: rgb(31, 31, 255);
}

/* Tabela */

.tabela-estoque {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    overflow: hidden;
    margin-top: 10px;
}

.tabela-estoque tr{
    box-sizing: border-box;
}

.pagina-ferramentas .tabela-estoque th,
.pagina-ferramentas .tabela-estoque td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.pagina-ferramentas .tabela-estoque th {
    background-color: #f1f1f1;
    font-weight: 600;
}

/* Tags de Status */
.pagina-ferramentas .tag {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.85em;
    font-weight: bold;
}
.pagina-ferramentas .tag.disponivel {
    background: #d4edda;
    color: #155724;
}

.col-acoes > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 2px;
}

.col-acoes > button:hover{
    background-color: #f0f0f0;
    border-radius: 50%;
}

#search-model{
    width: 250px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-filtrar-estoque{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    gap: 10px;
    padding: 5px;
}